{% extends "base.html.twig" %}

{% block title %}Ajout des produits{% endblock %}

{% block body %}
    <main class="container">
        <section class="row row-cols-2">
            <div class="col-md-4">
                {{form(form)}}
            </div>
        </section>
    </main>
{% endblock %}